<html lang="en" dir="ltr">
  <%- include("partails/header") %>
  <body>
    <div class="container">
      <h1>Contact me</h1>
      <br />
        Telephone number : <div  class="profileText"><%= telno %> </div> <br>     
        E-mail : <div  class="profileText"><%= email %></div> <br>
   
    </div>
    <%- include("partails/footer") %>
  </body>
</html>